{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block title %}
    <title>Savings Goals</title>
    {% endblock %}
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="left brand-logo">Savings & Expense Goal</a>
                <ul class="right">
                    <a href="/about">About</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'signup' %}">Signup</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'login' %}">Login</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'logout' %}">Logout</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'savings_index' %}">Savings</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'saving_create' %}">Get Started on Your Goal</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'create_expense' %}">Add Expense</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'expense_view' %}">Expense</a>
                </ul>
                <ul class="right">
                    <a href="{% url 'additional_savings' %}">Add to Savings</a>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <p>Copyright &copy; All Rights Reserved 2023</p>
    </footer>
</body>
</html>