{% extends 'base.html' %}

{% block title %}
{% if object %}
<title>Update Expense</title>
{% else %}
<title>Add Expense</title>
{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<h1>Update Expense</h1>
{% else %}
<h1>Add Expense</h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Submit" class="btn">
</form>


<script>
    const dateElement = document.getElementById('id_date');
    const expenseTypeElement = document.getElementById('id_expense_type');

    M.Datepicker.init(dateElement, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    M.FormSelect.init(expenseTypeElement)
</script>
{% endblock %}