

{% extends 'base.html' %}

{% block title %}
<title>Savings</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="card">
        <div class="card-content">
            <h1 class="card-title">Your Saving Goal: ${{ saving.save_goal }}</h1>
            <p>Time to Goal Savings: {{ time_till_goal }} </p>
            <p>Current Savings: ${{ saving.current_savings }}</p>
            <p>Monthly Income: ${{ saving.monthly_income }}</p>
            <p>Total Expenses:  ${{ total_expenses }}</p>
            <p>Income After Expenses:  ${{ income_after_expenses }}</p>
            {%  if expenses.count > 0 %}
            <h1 class="card-title">Expense Type Percentages</h1>
                <ul>
                    {% for expense_type in expense_type_totals %}
                        <li>{{ expense_type.expense_type }}: {{ expense_type.percentage }}%</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'update_savings' saving.id %}">Update</a>
            <a href="{% url 'delete_savings' saving.id %}">Delete</a>
        </div>
    </div>
    {%  if expenses.count > 0 %}
    {% for expense in expenses %}
    <a href="{% url 'expense_details' expense.id %}">
        <div class="card">
            <div class="card-content">
                <p class="card-title">Expense amount: ${{ expense.expense_amt }}</p>
                <p>Expense Type: {{ expense.get_expense_type_display }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div class="card">
        <div class="card-content">
            No expenses
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}